* {
    margin: 0;
    padding: 0;
}

:root{
    font-family: 'Orbitron', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 52, 48);
    gap: 3vh;
    padding: 2vw;
    border-radius: 10px;
    filter: drop-shadow(0px 10px 15px black);
}

.display-container {
    display: flex;
    justify-content: center;
    
}

.display {
    display: flex;
    width: 90%;
    height: 10vh;
    background-color: aqua;
    background-color: rgb(189, 255, 151);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}

.bottom-right-modal {
    display: flex;
    justify-content: start;
    align-items: stretch;
}

.bottom-left-modal{
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.buttonFour {
    display: flex;
    justify-content: space-between;
    
}

button {
    width: 6em;
    height: 4em;
}

.buttonTwo button:not(button:last-child), .buttonThree button:not(button:last-child), 
.bottom-left-one button, .bottom-left-two button {
    background: linear-gradient(rgb(68, 66, 66), black);
    color: white
}



.bottom-right-modal button {
    background-color: orange;
    height: 14.4vh;
}

.buttonOne button {
    background-color: orange;
}

.buttonOne{
    display: flex;
    justify-content: space-between;
}

.bottom-left-two {
    display: flex;
    gap: 3px;
}

.bottom-left-modal button:last-child{

    flex-grow: 2;
}

.buttonThree button:last-child, .buttonTwo button:last-child {
    background-color: orange;
    height: 4em
}
